* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

section#main-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
